body {
      background: #fff8dc;
      font-family: 'Comic Sans MS';
      color: #5c3d00;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #000000;
      padding: 20px;
      text-align: center;
      border-bottom: 5px dashed #d2691e;
    }
    h1 {
      font-size: 2.5em;
      margin: 0;
    }

    form {
      background-color: #ee1616;
      padding: 25px;
      border-radius: 10px;
      max-width: 500px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: orange;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: darkorange;
    }

     .botao-voltar {
      background-color: orange;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .botao-voltar:hover {
      background-color: darkorange;
    }
    footer {
      background-color: #ffcc00;
      text-align: center;
      padding: 10px;
      border-top: 5px dashed #d2691e;
    }
